body {
  background-color: #b0bec5;
  color: black;
  font-family: 'Lato';
  font-size: 30px; }

h1 {
  margin-top: 65px;
  font-size: 30px;
  text-align: center; }

#email {
  background-image: url(images/email.png);
  background-repeat: no-repeat;
  background-position: 0px 0px; }

#password {
  background-image: url(images/password.png);
  background-repeat: no-repeat;
  background-position: 0px 0px; }

#warning {
  display: none;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  color: #7d2b2b;
  width: 100%;
  height: 88px;
  margin: 10px auto 25px auto;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid red;
  background-color: #ffcdd2;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box; }

.modalDialog {
  position: fixed;
  color: white;
  font-size: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  width: 350px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 3px;
  background: #66bb6a; }

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 2px #000;
  -moz-box-shadow: 1px 1px 2px #000;
  box-shadow: 1px 1px 2px #000; }

.close:hover {
  background: red; }

#box {
  font-weight: bold;
  width: 570px;
  height: 450px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  background-color: white;
  padding-top: 65px;
  -webkit-box-shadow: 0px 0px 32px 9px rgba(4, 7, 11, 0.19);
  -moz-box-shadow: 0px 0px 32px 9px rgba(4, 7, 11, 0.19);
  box-shadow: 0px 0px 32px 9px rgba(4, 7, 11, 0.19); }

.box-inside {
  width: 370px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto; }

:-moz-placeholder {
  color: #758892;
  font-size: 30px; }

::-webkit-input-placeholder {
  color: #758892;
  font-size: 30px; }

input[type=text], input[type=password] {
  font-size: 30px;
  color: #758892;
  padding: 12px 5px 12px 85px;
  margin-bottom: 25px;
  width: 100%;
  box-sizing: border-box;
  border: 1px #b0bec5 solid;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 100%; }

input[type=checkbox] {
  display: none; }

.checkbox {
  display: inline-block;
  cursor: pointer;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #b0bec5;
  margin-bottom: 35px; }

.checkbox:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-color: white;
  text-align: center;
  color: black;
  border: 1px silver solid;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px; }

input[type=checkbox]:checked + .checkbox:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px; }

a.lostpassword {
  color: #b0bec5;
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
  font-weight: normal;
  text-align: right;
  margin-top: 20px;
  display: block; }

button {
  background-color: #66bb6a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #388e3c;
  color: white;
  font-size: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 68px; }

button:hover {
  background-color: #4CAF50; }

/*# sourceMappingURL=style.css.map */
